@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
html,
body {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex1 {
  flex: 1;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background-color: red;
}

.boutton {
  padding: 8px 16px 8px 16px;
  background-color: green;
  color: white;
}

.boutton-transparent {
  padding: 8px 16px 8px 16px;
  background-color: transparent;
}

.boutton-bordered {
  padding: 8px 16px 8px 16px;
  background-color: transparent;
  border: 1px solid #f1f1f1;
  border-radius: 8px;
}

.boutton-round {
  padding-block: 8px;
  padding-inline: 16px;
  background-color: #000b58;
  color: white;
  border-radius: 120px;
}

.blue {
  background-color: #000b58;
}

.green {
  background-color: #006a67;
}
.pale-yellow {
  background-color: #fff4b7;
}
.text-white {
  color: white !important;
}

.margin8 {
  margin: 8px;
}
.display-contentainer {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 16px;
  padding-block: 8px;
  position: relative;
}
.hero {
  height: 95vh;
  background-image: url(../assets/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#header {
  position: fixed;
  display: block;
  width: 100%;
}
h1,
h2,
h3,
h4 {
  font-family: "Zen Dots", sans-serif;
}
.overlay {
  background: #000000c5;
}
.text-center {
  text-align: center;
}

.margin-top {
  margin-top: 16px;
}
.margin-bottom {
  margin-bottom: 16px;
}
.margin-left {
  margin-left: 16px;
}
.margin-right {
  margin-right: 16px;
}
